
{% block footer %}
<section class="footer-group">
	<div class="container">
		<div class="row menu-qr">
			<div class="col-6">
				<p class="color-pink title-footer">Tải ngay app con cưng để mua sắm nhanh chóng</p>
				<div class="d-flex" style="justify-content: center ;flex-wrap:wrap;align-items: center">
					<div class="p-1"><img class="icon-download" src="{{url_for('static', filename='images/app-ios.png')}}" alt=""></div>
					<div class="p-1"><img class="icon-download" src="{{url_for('static', filename='images/app-android.png')}}" alt=""></div>
				</div>
				<div class="qr-icon"><img class="qr-icon-detail" src="{{url_for('static', filename='images/scanapp.svg')}}" alt=""></div>
				<p class="text-inline-qr">Quét mã tải ngay</p>
			</div>
			<div class="col-6">
				<img class="phone-img" src="{{url_for('static', filename='images/app-info.png')}}" alt="">
			</div>
		</div>
	</div>
	<div class="background-footer" style="background-color:#ffe9f1">
		<div class="container">
			<div class="row text-banner-footer" >
				<div class="col-4">
					<p class="title-text-banner">Công ty cổ phần con cưng </p>
					<a href=""><p>Thành viên của Tập đoàn <b>CCI Groupb</b></p></a>
					<a href=""><p><b>Email:</b> cskh@concung.com</p></a>
					<a href=""><p><b>Điện thoại:</b> 028 73006609</p></a>
					<a href=""><p><b>ĐKKD:</b> 101-103 Trần Quang Khải, P.Tân Định, Q1, TP.HCM</p></a>
					<a href=""><p><b>Văn phòng:</b> Tầng 14 Tòa nhà Phú Mỹ hưng Tower, 08 Hoàng Văn Thái, P.Tân Phú, Q.7 , TP.HCM</p></a>
				</div>
				<div class="col-2">
					<p class="title-text-banner">Về Con Cưng</p>
					<a href=""><p>Giới thiệu về Con Cưng</p></a>
					<a href=""><p>Tuyển dụng khối Văn Phòng</p></a>
					<a href=""><p>Tuyển dụng khối Siêu Thị</p></a>
					<a href=""><p>Chính sách bảo mật</p></a>
					<a href=""><p>Điều khoản sử dụng</p></a>
				</div>
				<div class="col-3">
					<p class="title-text-banner">Hổ trợ khách hàng</p>
					<a href=""><p>Tra cứu hóa đơn</p></a>
					<a href=""><p>Mua & giao nhận Online</p></a>
					<a href=""><p>Quy định & hình thức thanh toán</p></a>
					<a href=""><p>Bảo hành & Bảo trì</p></a>
					<a href=""><p>Đổi trả & Hoàn tiền</p></a>
				</div>
				<div class="col-3">
					<p class="title-text-banner"> Kết nối với chúng tôi</p>
					<div class="group-icons">
						<a class="img-icon" href="" class="img-icon"><img src="{{url_for('static', filename='images/facebook.svg')}}" alt=""></a>
						<a class="img-icon" href="" class="img-icon"><img src="{{url_for('static', filename='images/youtube.svg')}}" alt=""></a>
						<a class="img-icon" href="" class="img-icon"><img src="{{url_for('static', filename='images/instagram.svg')}}" alt=""></a>
					</div>
					<div class="img-bct"><img class="img-fluid" src="{{url_for('static', filename='images/noticed@3x.png')}}" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
