<footer class="footer-pc">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="logo-img">
                    <img src="public/images/thumbnail.png" alt="">
                </div>
                <ul class="contact-left">
                    <li>
                        <a href=""><strong>
                                TRANG WEB CHÍNH THỨC <br>
                                CÔNG TY CỔ PHẦN THƯƠNG MẠI XUẤT NHẬP KHẨU <br>
                                GREEN PLUS PHARMACY
                            </strong>
                        </a></li>
                    <li><a href="">Hotline: <strong>0869071068</strong> – CSKH: <strong>0869071068</strong></a></li>
                    <li><a href="">Email: <strong>info@greenpluspharmacy.com</strong></a></li>
                    <li><a href="">Trụ sở: <strong>67 Bình Giã, Phường 13, Quận Tân Bình, HCM</strong></a></li>
                    <li><a href="">
                            <img src="public/images/DMCA_badge_grn_60w.png" alt="">
                        </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>VỀ GREEN +</h5>
                <ul class="contact-left">
                    <li><a href="">Hướng dẫn đặt hàng</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Chính sách quy định chung</a></li>
                </ul>
                <h5>CHÍNH SÁCH</h5>
                <ul class="contact-left">
                    <li><a href="">Điều khoản sử dụng</a></li>
                    <li><a href="">Chính sách mua hàng</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                <ul class="contact-left">
                    <li><a href="">CSKH: <strong>0869071068</strong></a></li>
                    <li><a href="">Hotline: <strong>0869071068</strong></a></li>
                    <li><a href="">Mua hàng: <strong>0869071068 (8h-21h)*</strong></a></li>
                    <p>(Tất cả các ngày trong tuần)</p>
                </ul>
                <h5>CÁCH THỨC THANH TOÁN</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                </div>
                <h5>ĐƠN VỊ VẬN CHUYỂN</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="logo-payment">
                            <img src="public/images/momo@3x.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-mobile">
    <div class="container">
        <ul class="list-menu">
            <li><a href=""></a>Danh muc</li>
            <li><a href=""></a>Uu Dai</li>
            <li><a href=""></a>Home</li>
            <li><a href=""></a>Dat Hang</li>
            <li><a href=""></a>Tai Khoan</li>
        </ul>
    </div>
</footer>