<section class="header-section">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-header">
                    <div class="menu">
                        <img src="{{ url_for('static', filename='images/menu.png')}}" alt="" class="menu-img">
                    </div>
                    <div class="logo-img">
                        <a href="">
                            <img src="{{ url_for('static', filename='images/thumbnail.png')}}" alt="">
                        </a>
                    </div>
                    <div class="form-search">
                        <input type="text" placeholder="Tim Thuoc..." class="form-control">
                    </div>
                    <div class="shop-cart">
                        <small>0</small>
                        <img src="https://thuocgreen.vn/static/svg_mevabe/cart.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6 right-header">
                    <ul class="list-cate">
                        <div class="close-menu">X</div>
                        <li class="list-item"><a href="">tin tức</a> </li>
                        <li class="list-item"><a href="">Truyền thông</a> </li>
                        <li class="list-item d-block"><a href="">giỏ hàng</a> </li>
                        <li class="list-item"><a href="" class="border-btn">đăng nhập</a> </li>
                        <li class="list-item"><a href="" class="border-btn">đăng ký</a> </li>
                    </ul>
                    <div class="coating"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="main-menu" id="cate-fixed">
        <div class="container">
            <ul class="list-cate">
                <li class="list-item"><a href="">Sản Phẩm Thuốc</a> </li>
                <li class="list-item"><a href="">Thực Phẩm Chức Năng</a> </li>
                <li class="list-item"><a href="">Dụng Cụ Y Tế</a> </li>
                <li class="list-item"><a href="">Khuyến Mãi</a> </li>
                <li class="list-item"><a href="">Liên hệ</a> </li>
            </ul>
        </div>
    </div>
</section>